In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Load the dataset
df = pd.read_csv('stock_prices.csv')

In [6]:
df.head()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag
0,20211206_1301,2021-12-06,1301,2982.0,2982.0,2965.0,2971.0,8900,1.0,NaN,False
1,20211206_1332,2021-12-06,1332,592.0,599.0,588.0,589.0,1360800,1.0,NaN,False
2,20211206_1333,2021-12-06,1333,2368.0,2388.0,2360.0,2377.0,125900,1.0,NaN,False
3,20211206_1375,2021-12-06,1375,1230.0,1239.0,1224.0,1224.0,81100,1.0,NaN,False
4,20211206_1376,2021-12-06,1376,1339.0,1372.0,1339.0,1351.0,6200,1.0,NaN,False

In [7]:
# Size of the dataset
dataset_size = df.shape
print("Dataset Size:", dataset_size)

Dataset Size: (4000, 11)

In [12]:
df.columns

Index(['RowId', 'Date', 'SecuritiesCode', 'Open', 'High', 'Low', 'Close',
       'Volume', 'AdjustmentFactor', 'ExpectedDividend', 'SupervisionFlag'],
      dtype='object')

In [13]:
df.describe()

,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend
count,4000.00000,3990.000000,3990.000000,3990.000000,3990.000000,4.000000e+03,4000.000000,0.0
mean,5883.05400,2769.756817,2811.185163,2734.021303,2783.387870,5.925823e+05,0.999875,NaN
std,2390.10627,4374.114452,4436.667423,4311.046277,4395.682456,2.103113e+06,0.007906,NaN
min,1301.00000,35.000000,36.000000,35.000000,35.000000,0.000000e+00,0.500000,NaN
25%,3915.75000,1039.250000,1057.000000,1027.000000,1044.250000,3.577500e+04,1.000000,NaN
50%,6200.50000,1852.000000,1891.500000,1839.000000,1879.500000,1.002000e+05,1.000000,NaN
75%,7938.25000,3113.750000,3159.250000,3085.000000,3130.000000,3.525750e+05,1.000000,NaN
max,9997.00000,74770.000000,76390.000000,74450.000000,76120.000000,5.421950e+07,1.000000,NaN

In [14]:
# Display the first few rows and basic info about the dataset
df_info = df.info()
df_head = df.head()

df_info, df_head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   RowId             4000 non-null   object
 1   Date              4000 non-null   object
 2   SecuritiesCode    4000 non-null   int64
 3   Open              3990 non-null   float64
 4   High              3990 non-null   float64
 5   Low               3990 non-null   float64
 6   Close             3990 non-null   float64
 7   Volume            4000 non-null   int64
 8   AdjustmentFactor  4000 non-null   float64
 9   ExpectedDividend  0 non-null      float64
 10  SupervisionFlag   4000 non-null   bool
dtypes: bool(1), float64(6), int64(2), object(2)
memory usage: 316.5+ KB

(None,
            RowId        Date  SecuritiesCode    Open    High     Low   Close  \
 0  20211206_1301  2021-12-06            1301  2982.0  2982.0  2965.0  2971.0
 1  20211206_1332  2021-12-06            1332   592.0   599.0   588.0   589.0
 2  20211206_1333  2021-12-06            1333  2368.0  2388.0  2360.0  2377.0
 3  20211206_1375  2021-12-06            1375  1230.0  1239.0  1224.0  1224.0
 4  20211206_1376  2021-12-06            1376  1339.0  1372.0  1339.0  1351.0

     Volume  AdjustmentFactor  ExpectedDividend  SupervisionFlag
 0     8900               1.0               NaN            False
 1  1360800               1.0               NaN            False
 2   125900               1.0               NaN            False
 3    81100               1.0               NaN            False
 4     6200               1.0               NaN            False  )